@charset "UTF-8";

/* Global */
@font-face {
  font-family: 'NanumBarunpen';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
:root {
  --color-bg: #020631;
  --color-text: #333333;
  --color-white: #ffffff;
  --color-grey: #666666;
  --color-light-grey: #999999;
  --color-red: #e74c3c;
  --color-accent: #5529dc;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'NanumBarunpen';
  font-weight: bold;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--color-bg);
  user-select: none;
}
input {
  border: none;
  outline: none;
}
li {
  list-style: none;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  transition: color 300ms;
}
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background: var(--color-light-grey);
  border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-accent);
}
::-webkit-scrollbar-track {
  background: transparent;
}

/* Styling */
.todo {
  width: 400px;
  margin: auto;
}
.todo__header {
  color: var(--color-white);
}
.header__title {
  font-weight: bold;
  font-size: 3rem;
}
.header__today {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.todo__form {
  display: flex;
  background: var(--color-white);
  color: var(--color-text);
  padding: 0 1rem;
  margin-bottom: 1.5rem;
  border-radius: 4px;
}
.form__input {
  width: 100%;
  height: 40px;
}
.form__input::placeholder {
  color: var(--color-light-grey);
}
.btn__add {
  height: 40px;
  color: var(--color-light-grey);
}
.btn__add:hover {
  color: var(--color-grey);
}
.todo__list {
  width: 100%;
  height: 500px;
  overflow-y: auto;
}
.list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
  background: var(--color-white);
  color: var(--color-text);
  padding-left: 1rem;
  margin-bottom: 0.5em;
  border-radius: 4px;
  transition: all 300ms;
}
.list.checked {
  background: var(--color-accent);
  text-decoration: line-through var(--color-white);
  color: var(--color-white);
}
.list__name {
  flex: 1;
  text-align: left;
  padding-left: 1rem;
}
.list__checkbox {
  appearance: none;
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--color-light-grey);
  border-radius: 4px;
  transition: border-color 300ms;
  cursor: pointer;
}
.list__checkbox:hover {
  border-color: var(--color-grey);
}
.list__checkbox:checked {
  border-color: transparent;
  background: var(--color-white) url(img/check.svg) no-repeat center / 200%;
}
.btn__delete {
  width: 48px;
  height: 48px;
  color: var(--color-light-grey);
}
.btn__delete:hover {
  color: var(--color-red);
}
